<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Code Karaoke{% endblock %}</title>
  </head>
  <body>
    <header >
        {% include "header.html" %}
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
        {% include "footer.html" %}
    </footer>
  </body>
</html>