{% extends 'base.html' %}

{% block content %}
    <div align="center">
    <h4>{{ message }}</h4>
    <p>
        We  would be adding new set of problem soo please check our portal for updates
    </p>
    </div>
{% endblock %}