<h1 style="margin: 0px;text-align: center;">Code Karaoke</h1>
<div align="right">
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"  >logout</a>
    {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
    {% endif %}
</div>
