{% extends 'base.html' %}

{% block content %}
    <div align="center">
  <h2>Welcome, {{ user.username }}!</h2>
        </div>
    <h3 style="margin-left: 35px;">Problems</h3>
    {% for problem in problem_list %}
        <a href="{% url 'problem'  problem.problemID %}" style="color: black; text-decoration: none; text-align: left;margin-left: 40px;">{{ problem.title }}</a><br><br>
    {% endfor %}

{% endblock %}
