{% extends 'base.html' %}

{% block content %}
    <div align="center">
    {% if user.is_authenticated %}
        <h2>You are already logged in</h2>
    {% else %}
  <h2>Log in to Code Karaoke</h2>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
    <button type="submit">Log in</button><br><br>
    <a href="{% url 'signup' %}">New to CodeKaraoke? Sign up</a>
  </form>
    {% endif %}
    </div>
{% endblock %}
