{% extends 'base.html' %}

{% block content %}
    <div align="center">
        <h4>{{ message }}</h4>
        <a href="{% url 'problem'  problem.problemID %}" style="color: black; text-decoration: none; text-align: left;margin-left: 40px;">
            {{ problem.title }}</a><br><br>
    </div>
{% endblock %}