{% extends 'base.html' %}

{% block content %}
    <p>{{ problem.statement }}</p>
    <form action="{% url 'problem-solution' problem.problemID %}" method="post">
        {% csrf_token %}
        <input type="radio" name="choice" id="solution_type" value="True" /><label>Solution Correctness</label>
        <br>
        <input type="submit" value="solution" />
    </form>
{% endblock %}