{% extends 'base.html' %}

{% block content %}
    <div align="center">
    {% if user.is_authenticated %}
        <h2>You are already registered</h2>
    {% else %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
    {% endif %}
    </div>
{% endblock %}